.card-container{
    display: flex;
    flex-direction: row-reverse;
    background-color: #EDBB99;
    width: 50rem;
    height: auto;
    margin-top: 1%;
    padding: 1%;
    color: #4D5656;
    border-width: 1px;
    border-color:#ffffff; 
    border-style: solid;
    border-radius: 6px;
    margin-bottom: 10%;
}
.card-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h6{
    letter-spacing: '.1rem';
    text-decoration: underline;
      display: inline-block;
}
h6 p{
 
    display: inline-block;
    margin: 10px;
}



.sinop-card{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.sinop-card h6 {
    letter-spacing: '.1rem';
}

@media (max-width: 720px) {
    .card-body{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:auto;
	}
}