.container {

    background-color: 	#E9967A;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

form .search-btn {
    color:white;
    border-color:white;
    background-color: #154360;  
}

.navbar-menu{
    border-color: skyblue;
}
