.btn-items { 
    border-color:black;
    width: '70px';
}

.card-item {
    display: flex;
    flex-direction:column;
    border-color:'#120055';
}

.box-content-items  {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-content:center;
    border-color:rgb(138, 255, 5); 
}

.btn-btn-success{
    align-content: center;
    display: flex ;
    margin-top: 5px;
    margin-left: 30px;
}